body{
    margin: 0;
}
.par{
     
    min-width: 100vw;
    min-height: 100vw;
    background-color: black;
}
.box{
    width: 200px;
    height: 200px;
    background-color: yellow;
    
}
.box :hover{
    width: 400px;
    height: 400px;
    background-color: aqua;
}